* {
  margin: 0;
  padding: 0;
  font-family: 'Outfit';
}

canvas {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: -2;
}

body {
  overflow-x: hidden;
}

#canvas {
  position: fixed;
  inset: 0;
  width: 100%;
}

#hero {
  width: 100%;
  min-height: 100vh;
}

#hero .content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10rem 0;
}

h1 {

  font-family: 'venus';
  text-align: center;
  margin: auto;
}

#hero .content h1 {
  text-align: center;
  font-size: clamp(2rem, 3vw, 8rem);
  color: white;
  width: clamp(300px, 70vw, 1500px);
  margin-bottom: 3rem;
  opacity: 0;
  font-weight: 300;
  animation: goUp 1s cubic-bezier(0, 0.55, 0.45, 1) forwards;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.btn {
  padding: 1rem;
  border-radius: 0.3rem;
  text-decoration: none;
}

.btn-light {
  background-color: transparent;
  border: 1px solid #ccc;
  color: white;
  font-size: 1rem;
}

.btn-light:hover {
  background-color: white;
  color: #2a4f5f;
}

#hero .buttons {
  animation: goUp 1s cubic-bezier(0, 0.55, 0.45, 1) 0.5s forwards;
  opacity: 0;
}

/* Examples section */
.examples-section {
  margin-top: 5rem;
  color: white;
  opacity: 0;
  text-align: center;
  animation: goUp 1s cubic-bezier(0, 0.55, 0.45, 1) .7s forwards;
}

.examples-section p {
  margin-bottom: 1rem;
}

.examples {
  display: flex;
  gap: 2rem;
}

.examples img {
  height: 150px;
  width: 290px;
}

.example img {
  border-radius: .4rem;
}

.crafted {
  margin-top: 3rem;

}

a {
  color: white;
}

@keyframes fullWidth {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes goUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .examples {
    flex-direction: column;
  }
}

@font-face {
  font-family: 'venus';
  src: url(/fonts/venus\ rising\ rg.otf);
  font-weight: bold;
  font-style: bold;
}

/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Venus";
  color: #ffffff;
}

body {
  background-color: #0d0d2b;
  color: #ffffff;
}

.calendar {
  text-align: center;
  padding: 100px 20px;
  color: #ffffff;
  background-size: cover;
  margin-top: 10px;
  /* Reduce el margen superior */
  margin-bottom: 200px;
  /* Ajusta el margen inferior */
}

/* Sección de cabecera */
.hero {
  text-align: center;
  margin-top: 50px;
  /* Reduce el margen inferior */
  margin-bottom: 10px;
  /* Reduce el margen inferior */
  color: #ffffff;
  background-size: cover;
}

.hero h1 {
  font-family: 'venus';
  font-size: 3em;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.hero p {
  font-size: 1.5em;
  margin-top: 10px;
}

.login-btn {
  padding: 10px 20px;
  font-size: 1em;
  color: #0d0d2b;
  background-color: #f5a623;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background-color: #e89f1e;
}


.logout-btn {
  padding: 10px 20px;
  font-size: 1em;
  color: #0d0d2b;
  background-color: #f5a623;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.logout-btn:hover {
  background-color: #e89f1e;
}

.cuadricula {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  margin: 20px;
}




/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  background-color: #1b1b38;
  padding: 15px;
  margin-bottom: 10px;
  /* Reduce el margen inferior */
}

.navbar a {
  color: #ffffff;
  padding: 0 15px;
  text-decoration: none;
  font-size: 1.1em;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #f5a623;
}

/* Secciones */
.section {
  padding: 60px 20px;
  text-align: center;
}

.section h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

/* Modal de login */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: #1b1b38;
  margin: 10% auto;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5em;
  color: #ffffff;
  cursor: pointer;
}

.modal-content h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.modal-content label {
  display: block;
  font-size: 1em;
  margin-bottom: 5px;
}

.modal-content input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: #0d0d2b;
}

.submit-btn {
  padding: 10px 20px;
  font-size: 1em;
  color: #ffffff;
  background-color: #f5a623;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #e89f1e;
}

/* Pie de página */
.footer {
  background-color: #0d0d2b;
  padding: 20px;
  text-align: center;
}


/* Boton de descarga */


.download-button {
  display: inline-block;
  padding: 10px 15px;
  color: white;
  background-color: #007bff;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: background-color 0.3s ease;
}

.download-button:hover {
  background-color: #0056b3;
}



/* CUADRICULA ASTEROIDES */

.asteroides {
  padding: 20px;
  background-color: #f4f4f4;
  text-align: center;
}

.asteroides h2 {
  margin-bottom: 15px;
  font-size: 24px;
}


.cuadricula {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 20px;
  margin: 0 auto;
  max-width: 1200px;
  background-color: transparent;
  /* Fondo transparente para tomar el color general */
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.apartado {
  background: #ffffff;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.apartado h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.apartado p {
  font-size: 14px;
  margin-bottom: 10px;
  
}

.apartado a {
  color: #007bff;
  text-decoration: none;
}

.apartado a:hover {
  text-decoration: underline;
}



body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.exploracion-espacial {
  text-align: center;
  padding: 20px;
}

.exploracion-espacial h1,
.exploracion-espacial h2 {
  margin-bottom: 20px;
}



.apartado {
  background-color: #f5a623;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.apartado {
  background: transparent;
  /* Fondo transparente */
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.apartado:hover {
  transform: translateY(-5px);
}

.apartado h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.apartado p {
  margin-bottom: 10px;
  font-size: 14px;
}

.apartado a {
  display: inline-block;
  padding: 10px 15px;
  color: white;
  background-color: #007bff;
  /* Color del botón de descarga */
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: background-color 0.3s ease;
}

.apartado a:hover {
  background-color: #0056b3;
}

.apartado-img {
  width: 50px;
  /* Tamaño pequeño para la imagen */
  height: 50px;
  /* Mantén un tamaño uniforme */
  margin-right: 15px;
  /* Espacio entre la imagen y el contenido */
  object-fit: cover;
  /* Asegura que la imagen se ajuste sin deformarse */
  border-radius: 5px;
  /* Opcional: Bordes redondeados para la imagen */




}